node_modules
lib
.tsbuildinfo

# This is purely pre-cautionary; when linting becomes slow, delete this eslintcache entry
.eslintcache

__generated__

*.tgz
coverage
__screenshots__
.swc
.vitest
.vitest2
